* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fuente-texto);
  background-color: var(--color-fondo);
  color: var(--color-gris);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}